#header
{
    background-color: black;
    width: 100%;
    height: 10px;
}
#container
{
    width: 70%;
    margin: auto;
}
#container img
{
    margin-top: 10px;
    height:90px;
    width: 300px;
}
#container ul
{
    float:right;
    font-size: large;
    margin-top: 40px;
}
#container ul li
{
   
   display: inline;
   margin-right: 25px;
}
#container ul li a
{
    font-style: italic;
    color: darkslategrey;
    text-decoration: none;
}
#bar
{
    margin-top: 10px;
    background-color: indianred;
    width: 100%;
    height: 100px;
}
#bar p
{
    margin-top: 25px;
    float: inline-start;
    margin-left: 20px;
    color: aliceblue;
    font-size: 40px;
}
#bar  a
{
    float: right;
    margin-top: 30px;
    text-decoration: none;
    color: white;
    margin-right: 25px;
    
}
#content
{
    width: 40%;
    
    margin-left: 0px;
    
}
#content pre
{
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#footer
{
    height: 50px;
    width: 100%;
    background-color: black;
    clear: both;
    margin-top: 10px;

}
#footer ul
{
    float:left;
    font-size: large;
    margin-top: 10px;
}
#footer ul li
{
   
   display: inline;
   margin-right: 25px;
}
#footer ul li a
{
    font-style: italic;
    color: rgb(225, 240, 240);
     text-decoration: none;
}
#footer p
{
    float: right;
    margin-top: 10px;
    margin-right: 20px;
       color: white;
}